body {
    background: #F5F5DC;
}

h1 {
	text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fsbuttons {
	text-align: center;
}

h3 {
	text-align: center;
}

#backbutton {
	text-align: center;
}
